<div class="Nav">
  <a mat-button color="accent" routerLink="/requestVac" routerLinkActive="active">Request Vaccination<br>Appointment</a>
</div>
<br><br>
<div class="requestVac2" id="requestVac3">
  <h2>Select View Available Vaccines</h2><br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let vaccine of vaccines">
      <mat-expansion-panel-header>

          <p>Vaccine Name: {{vaccine.vacName}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Manufacturer: {{vaccine.manufacturer}}</p>


      </mat-expansion-panel-header>
      <a mat-button color="primary" routerLink="/centerList" routerLinkActive="active">Request</a>

    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <button class="button" type="button" mat-raised-button color="accent" routerLink="/loginHC">Back</button>
</div>


<p class="info-text mat-body-1" *ngIf="vaccines.length == 0">No List</p>
