.Nav {
  padding: auto 1px auto 1px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.Nav a.active {
  box-shadow: inset 0px 3px 1px rgb(63, 65, 70);
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.VacContainer {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-expansion-panel {
  clear: both;
}

.mat-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

mat-expansion-panel-header button {
  display: none;
}

mat-expansion-panel-header:hover button {
  display: inline-block;
}

.selectVac2 {
  margin: auto;
  width: 75%;
}

mat-card {
  width: 80%;
  margin: auto;
}

table {
  width: 80%;
  padding: 2rem;
  margin: auto;
}

table th,
td {
  width: 50%;
  padding: 2rem 0.8;
}

table th {
  font-size: 17px;
  font-weight: bold;
}

table tr.mat-row {
  height: 5rem;
}
