  <div class="Nav">
    <a mat-button color="accent" routerLink="/infovac" routerLinkActive="active">Record New<br>Vaccination</a>
    <a mat-button color="accent" routerLink="/manageVac" routerLinkActive="active">View Vaccination<br>Information</a>
  </div>
  <br><br>
  <div class="manageVac2" id="manageVac3">
    <h2>Manage Vaccination Appointment</h2><br>
    <mat-accordion multi="true" *ngIf="vaclists.length>0">
      <mat-expansion-panel *ngFor="let vaclist of vaclists, let i = index">
        <!-- //foreach 처럼 array를 iteration을 해서 각각 아이템을 출력한다 (ngfor). -->
        <mat-expansion-panel-header>
          <span class="topic">
            <p>Vaccination ID: {{vaclist.vacID}}</p>

          </span>
        </mat-expansion-panel-header>
        <p>Full Name (Patient): {{vaclist.fullnameP}}</p>
        <p>Passport: {{vaclist.passport}}</p>
        <p>Batch No.: {{vaclist.batchNo}}</p>
        <p>Expiry Date: {{vaclist.expiryDate}}</p>
        <p>Manufacturer: {{vaclist.manufactuer}}</p>
        <p>Vaccine Name: {{vaclist.vacName}}</p> ==*
        <p>Status: {{vaclist.status}}</p>
        <a mat-button color="primary" (click)="acting(vaclist)">Update<br>(Confirmed or Reject)</a>
        <a mat-button color="primary" (click)="actingA(vaclist)">Update<br>(Administered)</a>

      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <button class="button" type="button" mat-raised-button color="accent" routerLink="/selectBatch">Back</button>
  </div>


    <div [ngClass]="'VacContainer'" *ngIf="reportvacservice.getVac().length ==0 ">
      <p>A list of Vaccination Information is empty. Please Add New Vaccination</p>
    </div>



