<div class="Nav">
  <a mat-button color="accent" routerLink="/signupHC" routerLinkActive="active">Sign Up<br>(Healthcare Adminstrator)</a>
  <a mat-button color="accent" routerLink="/signupP" routerLinkActive="active">Sign Up<br>(Patient)</a>
</div>

<div class="signupP" id="signup2P">
  <mat-card>
      <div class="signupP-header">
          <h2 mat-card-title> Sign Up (Patient) </h2>
      </div>
      <form name="signupPForm" (submit)="onAddPatient(signupPForm)" ngForm #signupPForm="ngForm">

          <mat-form-field>
              <mat-label> Username </mat-label>
              <input matInput type="text" name="username" ngModel #username="ngModel" required>
              <mat-error *ngIf="username.invalid" id="unError">Please enter username</mat-error>
          </mat-form-field>
          <mat-form-field>
              <mat-label> Password </mat-label>
              <input matInput type="password" name="password" ngModel #password="ngModel" required>
              <mat-error *ngIf="password.invalid" id="pdError">Please enter password</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label> Full Name </mat-label>
            <input matInput type="text" name="fullnameP" ngModel #fullnameP="ngModel" required>
            <mat-error *ngIf="fullnameP.invalid" id="fnError">Please enter fullname</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Email </mat-label>
            <input matInput type="text" name="email" ngModel #email="ngModel" required>
            <mat-error *ngIf="email.invalid" id="emError">Please enter email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> IC or Passport </mat-label>
          <input matInput type="text" name="passport" ngModel #passport="ngModel" required>
          <mat-error *ngIf="passport.invalid" id="passportError">Please enter staff IC or Passport</mat-error>
        </mat-form-field>
          <button type="submit" mat-raised-button class="main-btn">Sign Up</button>
          <button type="button" mat-raised-button class="main-btn2" routerLink="/loginHC">Cancel</button>
      </form>
  </mat-card>
</div>


