<h2 mat-dialog-title>Update Vaccination Appointment</h2>
<form (submit)="onUpdateStatusA(updateStatus)" #updateStatus="ngForm">
  <mat-dialog-content>
  <mat-card>
    <mat-form-field>
      <mat-label> Remarks <br>(Any Comment with setting 'administered' Status)</mat-label>
      <textarea matInput rows="5" name="remarks" value="{{updatest.avaccine.remarks}}" ngModel #remarks="ngModel"></textarea>
      <mat-error *ngIf="remarks.invalid">Please Choose any Status to updating</mat-error>
    </mat-form-field>

<button mat-raised-button color="accent" type="submit">Update Status</button>
</mat-card>
</mat-dialog-content>
</form>
